

.container {
    display: flex;
    padding: 100px 80px;
    gap: 50px;
}

.container-todo {
    display: flex;
    justify-content: center;
    align-items: baseline;
}


.card {
    list-style: none;
    border: 1px solid rgb(65, 87, 84);
    border-radius: 10px;
    box-shadow: 10px 15px 10px hsla(0, 0%, 8%, 0.767);
    padding: 30px;
    width: 300px;
    height: auto;
    background-color: black;    
}

.card h3 {
    color: white;
    font-size: 30px;
}

