

/* .banner-header {
    display: flex;
    align-items: center;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 5%;
    left: 50%;
    font-size: 30px;

}

.banner-components {
    position: absolute;
    bottom: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.banner-components h5 {
    font-size: 40px;
    font-weight: 500;
}

.banner-components p {
    font-size: 18px;
    margin: 10% 0%;
    font-weight: 500;
}

.banner-components a {
    text-decoration: none;
    padding: 25px 60px;
    background-color: #FF5E1A;
    color: white;
    border-radius: 30px;
} */