@import '/src/index.css';

.addTodo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    background-image: var(--form-color);
    margin-top: 15px;
    border-radius: 10px;
    cursor: pointer;
    height: 50px;
}

.addTodo p {
    font-weight: 500;
    flex-grow: 1;
    overflow-wrap: break-word;
}


.addTodo img {
    width: 20px;
    margin-right: 8px;
    margin-left: 10px;
    
}